#container{
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  /* height: 600px; */
  border:1px solid black;
  /* overflow-y: scroll; */
}
#dog{
   width:200px;
   height:200px;
   border:1px solid black;
}
.load{
  width:200px;
  height:200px;
  border:1px solid black;
}